.message {
  width: 300px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
}

.sent .avatar {
  display: none;
}

.avatar {
  background-image: url(https://d13yacurqjgara.cloudfront.net/assets/avatar-default-aa2eab7684294781f93bc99ad394a0eb3249c5768c21390163c9f55ea8ef83a4.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}



.sent  {
  color: white;
  background-color: #4e8cff;
  word-wrap: break-word;
  justify-content: flex-end;
  border-radius: 6px;
}

.received  {
  color: #263238;
  background-color: #f4f7f9;
  margin-right: 40px;
}


@media (max-width: 450px) {
  .message {
    width: 80%;
  }
}
